body {
  background-color: #1f1f1f;
  color: #bfbfbf;
  height: 2000px;
}
h1{
  font-weight: normal;
}
h2{
	color: red
}

em{
  color: #e07a05
}

.box{
  height: 100px;
  width: 100px;
	margin-bottom: 10px;
}

.container{
	background-color: #eee;
	height: 200px;
	width: 200px;
	position: static;
	top: 50px
}

.greenBox{
	background: #5b8054;
	position: static;
	z-index: ;
}

.blueBox{
	background: #627da0;
	position: static;
	z-index: ;
}

.yellowBox{
	background: bisque;
	position: static;
	z-index: ;
}